{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Question 1 {% endblock %}

{% block content %}

<p>
En sachant que les durées des congés de maternité et de paternité en nombre de semaines dans différents pays de l’Union   Européenne sont les suivantes:
</p>

<p>
<i><b>Knowing that the duration of maternity and paternity leave in number of weeks in different countries of the European Union are as follows </b></i>
    </p>
    <img src="https://imagizer.imageshack.com/v2/1280x720q90/924/qsC6bR.png" class="center"/> 

Selon vous: 

<p>
<i><b>In your opinion:</b></i>
    </p>

{% formfields %}

{% next_button %}

{% endblock %}
