{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Section 2: Questions 1 to 5{% endblock %}

{% block content %}


<p>
    Reading part
</p>
<p>
    DIRECTIONS: The passage below is followed by 5 questions. After reading the passage, choose the best answer to each question based on what is stated or implied in the passage.

</p>
<p>
    The Consolations of Philosophy  Long viewed by many as the stereotypical useless major, philosophy is now being seen by many students and prospective employers as in fact a very useful and practical major, offering students a host of transferable skills with relevance to the modern workplace. ____[1]____, philosophy is the study of meaning and the values underlying thought and behavior. But ____[2]____, the discipline encourages students to analyze complex material, question conventional beliefs, and express thoughts in a concise manner. Because philosophy ____[3]____ students not what to think but how to think, the age-old discipline offers consistently useful tools for academic and professional achievement. ____[4]____ A 1994 survey concluded that only 18 percent of American colleges required at least one philosophy course. ____[5]____, between 1992 and 1996, more than 400 independent philosophy departments were eliminated from institutions.
</p>



{% formfields %}

{% next_button %}

{% endblock %}
