{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Section 3: Informations {% endblock %}

{% block content %}

{% if player.id_in_group == 1  %}

<p>
En sachant que les durées des congés de maternité et de paternité en nombre de semaines dans différents pays de l’Union   Européenne sont les suivantes:
</p>

<p>
<i><b>Knowing that the duration of maternity and paternity leave in number of weeks in different countries of the European Union are as follows </b></i>
    </p>
    <img src="https://imagizer.imageshack.com/v2/1280x720q90/924/qsC6bR.png" class="center"/> 

{% else %}
 
<p>
De récentes recherches montrent qu’à la suite de leur premier enfant, les femmes ont davantage tendance que les hommes à faire des choix de carrière (inactivité, temps partiel, prise de postes moins bien rémunérés etc.) leur permettant d'assumer une plus grande part des soins des enfants. Ces choix expliquent une part importante de l'écart salariale entre les hommes et les femmes sur le long terme.
</p>

<p>
<i><b> Recent research shows that following their first child, women are more likely than men to make career choices (inactivity, part-time work, taking up less well-paid jobs, etc.) that allow them to take on more great part of the care of the children. These choices explain a large part of the pay gap between men and women in the long term.</b></i>
</p>

    
    <img src="https://voxeu.org/sites/default/files/image/FromMay2014/landais14mayfig2.png" class="center"/> 

<p>
Le graphique illustre l'évolution de revenu entre les hommes (ligne pointillée) et les femmes (ligne continue) après la naissance de leur premier enfant aux États-Unis (triangles noirs) et au Royaume-Uni (points gris). Alors que le revenu a tendance à rester constant pour les hommes après la naissance de leur premier enfant, le revenu des femmes a tendance à diminuer avant de se stabiliser à un niveau inférieur. La différence à long terme de revenu relatif entre les femmes et les hommes est d'environ 30 pour cent aux États-Unis et d'environ 45 pour cent au Royaume-Uni.
</p>

<p>
<i><b> The graphic depicts changes in earnings between men (dashed line) and women (solid line) after the birth of their first child in the US (black triangles) and the UK (gray dots). While earnings tend to remain constant for men after the birth of their first child, women’s earnings tend to decrease before stabilizing at a lower level. The long term difference in relative earnings between women and men is about 30 percent in the US and around 45 percent in the UK. </b></i>
</p>

<p>
Plusieurs arguments sont avancés pour expliquer ces choix. Certains pensent qu'il s'agit de choix contraints, par des attentes/habitudes sociales. D'autres pensent que cela reflète une différence entre les préférences individuelles des hommes et des femmes. D'autres enfin considèrent que c'est une décision prise par le couple pour répartir les tâches dans un souci d'efficacité.
</p>

<p>
<i><b> Several arguments are advanced to explain these choices. Some think that these are choices constrained by social expectations / habits. Others believe it reflects a difference between the individual preferences of men and women. Still others consider that it is a decision taken by the couple to distribute the tasks for the sake of efficiency. </b></i>
</p>

<p>
En sachant que les durées des congés de maternité et de paternité en nombre de semaines dans différents pays de l’Union   Européenne sont les suivantes:
</p>

<p>
<i><b>Knowing that the duration of maternity and paternity leave in number of weeks in different countries of the European Union are as follows </b></i>
</p>

<img src="https://imagizer.imageshack.com/v2/1280x720q90/924/qsC6bR.png" class="center"/>

{% endif %}




   







 
{% next_button %}




   



{% endblock %}
