{% extends "groupA/Base.html" %}
{% load staticfiles otree %}

{% block title %}
    
{% endblock %}

{% block content %}


    <div id="Question1">
    <font size="4">
    <p align="center">
{% formfield player.Q1 with label="Please choose between these two portfolios:" %}
    </font>
    </div>
   
    
<br/>

    <div id="next">
         <Click on the next button to continue... <br>
         <input class="btn btn-primary btn-large btn-primary next-button" type="button"
         value="Next" onclick="next_page()">
    </div>

{% endblock %}

{% block scripts %}

  <script type="text/javascript">


  function next_page(){
        if ($("#id_Q1_0").is(":checked") || $("#id_Q1_1").is(":checked")) {
            document.getElementById("form").submit();
            return true;
        } else {
            return false;
        }
  }
    
  </script>
  
{% endblock %}
